<div class="col-md-6 m-3 text-primary">
  <h3>Ask a question!</h3>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
